<div fxLayout="column wrap" style="padding:16px;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
  <mat-vertical-stepper>
    <mat-step label="Enter Information">
      <mat-accordion>
        <mat-expansion-panel hideToggle="true">
          <form>
            <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
              <mat-form-field color="primary" [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
                <input matInput [required]="false">
                <mat-label>Full Name</mat-label>
              </mat-form-field>
              <mat-form-field color="primary" [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
                <input matInput [required]="false">
                <mat-label>Nickname</mat-label>
              </mat-form-field>
              <mat-form-field color="accent" [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
                <input matInput [required]="false">
                <mat-label>Company</mat-label>
              </mat-form-field>
            </div>
          </form>
          <mat-expansion-panel-header>

            <mat-panel-title>
              Personal Information
            </mat-panel-title>
            <mat-panel-description class="headerdesc">
              Enter your info
              <mat-icon>people</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>
        </mat-expansion-panel>
        <mat-expansion-panel hideToggle="true">
          <form>
            <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
              <mat-form-field color="primary" [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
                <input matInput [required]="false">
                <mat-label>Full Name</mat-label>
              </mat-form-field>
              <mat-form-field color="primary" [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
                <input matInput [required]="false">
                <mat-label>Nickname</mat-label>
              </mat-form-field>
              <mat-form-field color="primary" [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
                <input matInput [required]="false">
                <mat-label>Company</mat-label>
              </mat-form-field>
            </div>
          </form>
          <mat-expansion-panel-header>

            <mat-panel-title>
              Company Information
            </mat-panel-title>
            <mat-panel-description class="headerdesc">
              Enter company info
              <mat-icon>work</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-step>
    <mat-step label="Verify your information">
      <div fxLayout="column wrap" fxLayoutGap="16px" fxLayoutAlign="start start" [fxShow]="true" [fxHide]="false">
        <mat-checkbox color="primary" [required]="false">This data is correct</mat-checkbox><button mat-raised-button color="primary">Submit</button>
      </div>
    </mat-step>
  </mat-vertical-stepper>
</div>