<div fxLayout="column wrap" style="padding:16px;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
  <mat-form-field class="price" [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
    <input matInput [(ngModel)]="price" type="number" placeholder="enter price" [required]="false">

  </mat-form-field>
  <mat-form-field class="amount" [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
    <input matInput [(ngModel)]="amount" type="number" placeholder="enter amount" [required]="false">

  </mat-form-field>
  <bh-childpage [price]="price" [amount]="amount" (emitter)="respondToPrice($event)"></bh-childpage>
  <div>
    <div *ngIf="showMessage">You are above the credit limit!</div>
  </div>
</div>