/*Importing default angular material css theme. */

@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "nDefaults.scss";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    font-family: Open Sans;
}

.headerdesc {
    justify-content: space-between;
}

.mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    font-size: 16px;
}

// .responsivepage div {
//     border: 1px solid black;
//     border-collapse: collapse;
// }

.responsivepage .menu,
.responsivepage .right {
    background: pink;
}

.responsivepage .footer {
    background: lightgrey;
}

.responsivepage .content {
    min-height: 50vh;
}

.profile .heading {
    color: lightgrey;
}

.profile > * {
    color: black;
}

.profile .blue-btn {
    background: blue;
    color: white;
}

.profile .mat-form-field-infix {
    width: auto;
    min-width:60px;
}